/**/

html, body {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
}

body {
    background-color: #fff;
    font-family: Arial, Sans, Tahoma, Verdana;
    position: relative;
    overflow: hidden;
}
